$primaryBlockColorDark: #222222;
$secondaryBlockColorLight: #F1E4E6;
$primaryHeadingColorDark: #222222;
$primaryTextColorGrey: #FBFBFB;
$secondaryTextColor: #F16D7F;
$productDesriptionTextColor: #5D5D5D;
$productNameTextColor: #4D4D4D;
$productDexriptionTextColorSecond: #5E5E5E;
$widthContainerMedium: 1200px;
$widthContainerBig: 1600px;
$widthFilterLarge: 360px;